 table,th,td{
    border: 1px solid #ffffff;
    border-collapse: collapse;
    background-color:#ffe5b4;
    
  
}
th{
   background-color: #ffffff;
}
.main{
    background-color:#26619c;
    width: 80%;
  padding: 10px;
  border-radius: 12px;
}

h2{
    text-align: center;
    color:#004b49;
}
table{
    width: 100%;
    text-align: center;
}
body{
    
    background-color: #91a3b0;
}

form{
    background-color:#b4c2c2 ;
    width: 30%;
    padding: 10px;
    border-radius: 12px;
    
}
